:root {
  --d-green: #253d2c;
  --l-green: #68ba7f;
  --dark: #000000;
  --white: #ffffff;
  --grey: #d9d9d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  padding: 0.2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

.header-top {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey);
}

.icon1 {
  margin: 0 4rem;
  padding: 0.5rem;
}

.icon1 a {
  font-size: 0.8rem;
  color: var(--dark);
}

.social-links {
  margin: 0 4rem;
  padding: 0.5rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img{
  width: 168px;
  height: 119px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--d-green);
}

.nav_links {
  margin: 0 4rem;
  padding: 0.5rem;
}

.nav_links li {
  display: inline-block;
  align-items: center;
  padding: 0.5rem;
}

.nav_links li:hover {
  background-color: var(--l-green);
}

.nav_links a {
  color: var(--white);
}

.button {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 2rem;
  margin: 0 4rem;
}

.hamburger_btn {
  display: none;
  
}

@media (max-width: 917px) {
.icon1{
  margin: 0;
  flex-wrap: nowrap;
  overflow: hidden;
 
}
  

  .nav_links{
    display: none;
   
    
  }

  .button{
    display:flex;
 margin-left: auto ;
  }

  .Hamburger_btn {
  display: block;
  background-color: var( --l-green) ;
}
}